---
import Timeline from "./Timeline.astro";
import { publications } from "./publications";

interface Props {
  fullWidth?: boolean;
}

const { fullWidth } = Astro.props;

const items = await publications();
---

<div class:list={[{ fullWidth }]}>
  <Timeline items={items} />
</div>

<style>
  .fullWidth {
    width: calc(100vw - 2 * var(--sl-content-pad-x));
  }
</style>
