---
import { bdb } from "../lib/braindb.mjs";
import Timeline from "./Timeline.astro";

interface Props {
  fullWidth?: boolean;
}

const { fullWidth } = Astro.props;

const items = (await bdb.documents())
  .map((doc) => {
    const fm = doc.frontmatter();
    if (!fm.abbreviation) return false;
    return {
      id: fm.abbreviation as string,
      year: fm.date as number,
      tooltip: " ", //doc.title(),
      // @ts-ignore
      class: fm.tags[0],
      url: doc.url(),
      out: doc
        .documentsFrom()
        .map((x) => x.frontmatter().abbreviation as string)
        .filter(Boolean),
    };
  })
  .filter(Boolean) as any;
---

<div class:list={[{ fullWidth }]}>
  <Timeline items={items} />
</div>

<style>
  .fullWidth {
    width: calc(100vw - 2 * var(--sl-content-pad-x));
  }
</style>
