---
import Graphviz from "./Graphviz.astro";
import { dotTimeline, type TimelineItem } from "./timeline";

interface Props {
  items: TimelineItem[];
  /**
   * https://www.graphviz.org/doc/info/attrs.html#d:rankdir
   */
  direction?: "TB" | "BT" | "LR" | "RL";
}

const src = dotTimeline(Astro.props);
---

<div class="timeline">
  <Graphviz src={src} />
</div>

<style>
  .timeline {
    text {
      fill: var(--sl-color-white);
    }
    path {
      stroke: var(--sl-color-white);
    }
    polygon {
      stroke: var(--sl-color-white);
    }
  }
</style>
